body {
  background-color: #fcf6eb;
  background-image: url("image1.jpg");
  color: #2c607a;
  font-family: "Kalam", sans-serif;
  font-size: 22px;
}

section {
  padding: 5px;
  margin: 5px;
}

h1 {
  font-size: 32px;
  font-weight: 700;
  color: #196263;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  color: #25947e;
}

footer {
  background-color: #cacfce;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  justify-content: space-between;
}

button {
  margin-left: 40px;
  margin-right: 40px;
  background-color: #3a5f8a;
  border-color: #3a5f8a;
  color: #faf9af;
  font-weight: bold;
  border-radius: 3px;
  padding: 5px;
  width: 100px;
}

#messages #edit-button {
  background-color: #3a5f8a;
  border-color: #3a5f8a;
  color: #faf9af;
  font-weight: bold;
  border-radius: 3px;
  padding: 5px;
  width: 100px;
}

body {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  margin: auto;
}

#skills ul {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: flex-start;
  align-items: center;
}

#skills ul li {
  background-color: #d8e7e5;
  border-width: 2px;
  border-style: solid;
  border-color: #8fccbc;
  padding-left: 5px;
  padding-right: 5px;
}

footer ul {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 480px) {
  .menu_image {
    display: none;
  }
  h1,
  h2 {
    font-size: 16px;
    font-weight: 900;
  }

  body {
    background-color: #fcf6eb;

    color: #2c607a;
    font-family: "Kalam", sans-serif;
    font-size: 14px;
  }
}
